*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --border-radius-tl:0;
    --border-radius-tr:0;
    --border-radius-br:0;
    --border-radius-bl:0;
}
/* body{
} */
header{
    height: 10vh;
    text-align: center;
}
#content{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
main{
    width: 70vw;
    height: 70vh;
    position: relative;
}
input{
    width: 4%;
}
.resultant-div{
    background-color: red;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-radius*/
    border-top-left-radius: var(--border-radius-tl);
    border-top-right-radius: var(--border-radius-tr);
    border-bottom-right-radius: var(--border-radius-br);
    border-bottom-left-radius: var(--border-radius-bl);
}
.resultant-code{
    background-color: wheat;
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    position: relative;
}
#copy{
    position: absolute;
    bottom: 4%;
    right: 2%;
    padding: 0.2rem 1rem;
    font-size: medium;
}
#input_tl{
    position: absolute;
    top: 0;
    left: 0%;
    background-color: green;
}
#input_tr{
    position: absolute;
    top: 0;
    right: 0%;
    background-color: blue;
}
#input_br{
    position: absolute;
    bottom: 10%;
    right: 0%;
    background-color: yellow;
}
#input_bl{
    position: absolute;
    bottom: 10%;
    left: 0%;
    background-color: grey;
}