@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --border-radius-tl:0;
    --border-radius-tr:0;
    --border-radius-br:0;
    --border-radius-bl:0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg,#4b1aa5 65%, #f77992 );
}
header{
    height: 10vh;
    text-align: center;
    padding: 0.5rem 0;
    color: #d8971f;
    text-shadow: 2px 2px 8px #475fe7a8;
}
#content{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 70vw;
    height: 70vh;
    position: relative;
}
input{
    width: 4.5%;
    background: white;
    border: none;
    color: #000000;
    font-weight: 600;
    padding-left: 0.1rem;
}
.resultant-div{
    background: linear-gradient(40deg, #76118f 20%,#4b0155 80%);
    box-shadow: 1px 2px 8px -2px #e0b2bd,
                -1px -2px 8px 2px #290c5f;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-radius*/
    border-top-left-radius: var(--border-radius-tl);
    border-top-right-radius: var(--border-radius-tr);
    border-bottom-right-radius: var(--border-radius-br);
    border-bottom-left-radius: var(--border-radius-bl);
}
.resultant-code{
    background-color: #fac9dd;
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    position: relative;
}
#code{
    font-size: 1rem;
}
#copy{
    position: absolute;
    bottom: 4%;
    right: 2%;
    padding: 0.2rem 1rem;
    font-size: medium;
}
#input_tl{
    position: absolute;
    top: 0;
    left: 0%;
}
#input_tr{
    position: absolute;
    top: 0;
    right: 0%;
}
#input_br{
    position: absolute;
    bottom: 10%;
    right: 0%;
}
#input_bl{
    position: absolute;
    bottom: 10%;
    left: 0%;
}